@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: lightblue;
}

.header {
    background-color: bisque;
    font-family: "Anton";
    padding: 5px;
}

.header h1 {
    margin: 0;
}

a:link {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
  
a:visited {
    color: blue;
    background-color: transparent;
    text-decoration: none;
}
  
a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}
  
a:active {
    color: green;
    background-color: transparent;
    text-decoration: underline;
}

.contact {
    display: inline-block;
    background-color: aliceblue;
    border: 5px solid black;
    padding: 5px;
}

.contact h2 {
    font-family: 'Franklin Gothic Heavy';
    margin: 0;
    padding-bottom: 5px;
}

.contact img {
    margin: 0;
    height: 125px;
}

.contactText {
    font-family: 'Franklin Gothic Light';
    display: inline-block;
    vertical-align: top;
}

.contactText h3 {
    margin: 0;
    font-family: 'Franklin Gothic Medium';
}

.contactText h4 {
    margin: 0;
    font-style: italic;
    font-family: 'Franklin Gothic Medium'
}

.vinyl {
    font-family: 'Franklin Gothic Light';
    display: inline-block;
    vertical-align: top;
}

.screen {
    font-family: 'Franklin Gothic Light';
    display: inline-block;
    vertical-align: top;
}

.embroidery {
    font-family: 'Franklin Gothic Light';
    display: inline-block;
    vertical-align: top;
}

.shirt-container {
    display: flex;
    flex-wrap: nowrap;
}

.description-container h2 {
    margin: auto;
    text-align: center;
    width: 45%;
}

.description-container p {
    margin: auto;
    text-align: center;
    width: 45%;
}

.create-container {
    background-color: white;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    width: 400px;
}

div#relative {
    position: relative;
    width: 212px;
    height: 208px;
}

div#absolute {
    position: absolute;
    top: 20%;
    right: 27%;
}

div#text {
    position: absolute;
    text-align: center;
    width: 101px;
    height: 55px;
    overflow: hidden;
}

